export(fititcdata, importorigin, itcONE11, residNDH11, XMt_func, rmlastna)

import(
  minpack.lm
)

importFrom("grDevices", "dev.off", "pdf", "postscript")
importFrom("graphics", "lines", "par", "text")
importFrom("stats", "coef")
importFrom("utils", "read.csv")
